.card{
    display: flex;
    justify-content: space-between;
    height: 10%; width:100%; 
    padding: 20px;
}
p{
   font-weight: bold; 
   min-width:80%;
}
button{
     background: transparent;
     border: 1px solid  #ff0b37;
     border-radius: 5px;
     width: 75px; height: 35px;
     margin-left: 50px;
     cursor: pointer;
}
